/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #a8d1a3;
}

header {
    background: #124515;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #A5D6A7;
}

section {
    padding: 2em;
    text-align: center;
}
/* #home {
    background: linear-gradient(135deg, #314c66, #b0ccb1);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#home h1 {
    font-size: 10em;
    color: #124515;
    margin-top: 20vh;
}

#about p, #why-choose-us p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.6;
}

.product-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    margin: 1em;
    transition: transform 0.3s ease;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product:hover img {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form textarea {
    width: 80%;
    margin: 0.5em 0;
}

button {
    background: #124515;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #4CAF50;
}

footer {
    background: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.social-media a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #A5D6A7;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .product-gallery {
        flex-direction: column;
    }
}

